.UnitsProj-highlight { background-color: yellow }

.CU-scrolling-marker {
    position: absolute;
    pointer-events: none;
    background-color: #ff902b;
    width: 5px;
    /*height: 6px;*/
    opacity:  0.6;
    /*TODO: specify property name(s) below instead of all*/
    /*-o-transition: box-shadow 0.2s linear;*/
    /*-moz-transition: box-shadow 0.2s linear;*/
    -webkit-transition: display 0.2s linear;
    transition: display 0.2s linear;

    -webkit-border-radius: 2px;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius: 2px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomright: 15px;
    border-radius: 2px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.CU-overlay {
    position: absolute;
    /*padding: 10px;*/
    /*opacity: 0.3;*/

    /*NOTE: pointer-events is not a CSS standard yet, but is supported  by webkit browsers and firefox*/
    pointer-events: none;

    /*-o-transition: box-shadow 0.2s ease-out;*/
    /*-moz-transition: box-shadow 0.2s ease-out;*/
    -webkit-transition: box-shadow 0.0s ease-out;
    transition: box-shadow 0.0s ease-out;

}

.CU-overlay-selected  {

    /*TODO: check and uncomment the following lines in release code*/
    /*-webkit-box-shadow: 2px 2px 20px 0px #999;*/
    /*-moz-box-shadow: 2px 2px 20px 0px #999;*/
    box-shadow: 2px 2px 12px 0px #777 !important;
    /*background-color: rgba(100, 100, 100, 0.2) !important;*/
}

.CU-overlay-hovered  {

    /*TODO: check and uncomment the following lines in release code*/
    /*-webkit-box-shadow: 1px 1px 10px 0 #bbb;*/
    /*-moz-box-shadow: 1px 1px 10px 0 #bbb;*/
    box-shadow: 0px 0px 4px 0px #999;
    /*background-color: rgba(200, 200, 200, 0.2);*/
}

/**:focus, a {*/
    /*show an outline around the element that is same as chrome's default. this needs to be set as it is turned off on*/
    /*some sites. */
    /*outline: 15px auto -webkit-focus-ring-color !important;*/
    /*outline: thin auto black !important;*/
    /*outline-style:solid !important;*/
    /*outline-width:3px !important;*/
    /*outline-color: -webkit-focus-ring-color !important;*/
/*}*/


/* ****** Search box related styles follow ***** */

/* This class can be used for (re)setting properties of any text input element that we create using this extension, and want to give a
 consistent look across webpages. That is, applying this class will override any styles associated with the text input
 element that might be specified by the webpage */
input.UnitsProj-reset-text-input {

    /********
    dimensions and float property of the input element
    *********/

    box-sizing: border-box !important; /*using box-sizing for easier calculations. make sure to specify this because
    it varies across sites, and changes the effective dimensions of the textbox*/
    margin: 0 !important;
    padding: 2px !important;
    width: 150px !important;
    min-width: 150px !important;
    height: 20px !important;
    min-height: 20px !important;
    float: none !important;


    /********
    border, outline and drop shadow
    ********/

    border: 1px solid #999 !important;

    /*some border radius*/
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;

    /*no drop shadow*/
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;

    outline: none !important;


    /**********
    text properties
    ***********/
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 13px !important;
    color: black !important;
    vertical-align: baseline !important;
    word-spacing: 0px !important;

    /*not sure if this is really required.*/
    /*-webkit-appearance: textfield !important;*/
    /*appearance: textfield !important;*/
}

input.UnitsProj-reset-text-input:focus {
     /*show an outline around the element that is same as chrome's default. this needs to be set as it is turned off on
     some sites. */
     outline: 5px auto -webkit-focus-ring-color !important;
 }

/* Make sure to re-set the height and width of this div whenever any of the following is changed: 1) the dimensions or
margin of the #UnitsProj-search-box or #UnitsProj-search-close-icon is changed 2) padding property of this div (since we set its
box-sizing to border-box)*/
div#UnitsProj-search-container {
    /*padding: 4px !important;*/
    width: 181px !important; height: 30px !important; /*the height and width needs to be set based on padding of this container AND height, width, margin properties of search input box and close icon span. */
    box-sizing: border-box !important; /*using border-box to make calculations easier.*/

    text-align: left !important; /*this is important to be set to ensure that the input box and span align as required.*/

    position: fixed !important;
    /*top: 0px;*/ /*this is set via javascript*/
    top: 0px;
    left: 0px !important;
    margin: 0px !important;
    z-index: 100000 !important;
    background-color: #d8d8d8 !important;

    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;

    /*for the sliding effect*/
    -webkit-transition: top 0.1s ease-out !important;
    transition: top 0.1s ease-out !important;
    -o-transition: top 0.1s ease-out !important;
    -moz-transition: top 0.1s ease-out !important;

}

input#UnitsProj-search-box {
    position: absolute; top: 6px; left: 6px;

    /*the following properties are also set for .UnitsProj-reset-text-input. we can override them here if need be*/

    box-sizing: border-box !important; /*using box-sizing for easier calculations. make sure to specify this because
    it varies across sites, and changes the effective dimensions of the textbox*/
    margin: 0 !important;
    padding: 2px !important;
    width: 150px !important;
    height: 20px !important;
}

span#UnitsProj-search-close-icon {
    position: absolute !important; top: 8px !important; right: 6px !important;
    border: 1px solid transparent !important;

    height: 13px !important; line-height: 13px !important; /*IMPORTANT: that line-height and height have the same value
    to vertically center the text in the span. */
    width: 13px !important;

    box-sizing: content-box !important; /* works better, because then we don't need to calculate the content height
    separately. the value of line-height needs to be the same as the content height.*/

    text-align: center !important;
    font-size: 15px !important;
    font-family: arial, sans-serif !important; /*the arial font seems to be work well for the multiplication symbol.
    change it if you find a better one.*/
    color: #666 !important;

    background-color:/* inherit*/ #bbb !important;

    /*border-radius 50% to make it a circle*/
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;

    cursor: default !important; /* To not show the text selection icon */


    -webkit-transition: all 0.1s ease-out !important;
    transition: all 0.1s ease-out !important;
    -o-transition: all 0.1s ease-out !important;
    -moz-transition: all 0.1s ease-out !important;
}

span#UnitsProj-search-close-icon:hover {
    background-color: #e38e83 !important;
    border: solid 1px #d1847b !important;
    color: #eee !important;
}

.UnitsProj-modal {
    background-color: white !important;

    min-height: 400px !important;
    /*min-width: 400px !important;*/
    max-height: 600px !important;
    width: 700px !important;
    overflow: auto !important;

    position: fixed !important;
    left: 50%; margin-left: -350px; /*center the div horizontally*/
    top: 10%;

    z-index: 10000 !important;

    border: 2px solid #999;
    border-radius: 4px !important;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    color: black !important;
}

.UnitsProj-modal-header {
    padding: 9px 15px !important;
    border-bottom: 1px solid #eee !important;
    background: none !important;
    box-sizing: border-box !important;
    position: relative;

}


.UnitsProj-modal-header>.close {
    position: absolute !important;
    top: 7px !important; right: 7px !important;

    font-size: 20px !important;
    font-family: Arial;
    font-weight: bold !important;
    line-height: 20px !important;
    height: 20px !important;
    width: 20px; !important;

    color: #aaa !important;
    text-shadow: 0 1px 0 #ffffff !important;
    border: none;

    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
.UnitsProj-modal-header>.close:hover {
    color: #888 !important;
}

.UnitsProj-modal-title{
    font-size: 18px !important;
    font-weight: normal !important;
    padding: 0 !important;
    margin: 0 !important;
    display: block !important;
    text-align: center !important;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

#help {

}

.UnitsProj-modal-body {
    position: relative;
    padding: 10px 20px 20px 20px;
}

.UnitsProj-modal-body .section {
    width: 50%;
    float: left;
}


#UnitsProj-help-container table {
    text-align: left;
    border-spacing: 0;
}

#UnitsProj-help-container table tr {
    height: 25px !important;
}

#UnitsProj-help-container table tr:nth-child(2n+1) td.key {
}

#UnitsProj-help-container td {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 13px !important;
    color: black !important;
}

/*tr.subsection-end{*/
    /*margin-bottom: 30px;*/
/*}*/

#UnitsProj-help-container td.key {
    padding-right: 10px;
    text-align: right;
    line-height: 25px !important;
}

#UnitsProj-help-container td.action {
    vertical-align: top;
    padding: 3px 0 3px 5px; /*padding top and bottom is 3px to be consistent with td.key>span.key*/
}

#UnitsProj-help-container td.key>span.key {
    /*margin-right: 2px;*/
    background-color: #efefef;
    border: 1px solid #ddd;
    border-radius: 2px !important;
    padding: 3px; /* Note: If you change this, then change td.action padding as well. They should be consistent. */
    margin: 0 2px;

}

td.key>span.separator, #UnitsProj-help-container tr.subsection-title>td, #UnitsProj-help-container .message{
    color: #777777 !important;
}

td.key>span.separator, #UnitsProj-help-container tr.subsection-title>td {
    text-align: center;
}

td.key>span.separator {
    font-size: 11px !important;
}

#UnitsProj-help-container tr.subsection-title>td{

}

#UnitsProj-help-container th.section-title {
    font-size: 12px !important;
    color: black !important;
    font-weight: bold !important;
    text-align: center;
}

.UnitsProj-modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000;
    opacity: 0.5;
}

.UnitsProj-float-fixer {
    clear: both;
}
