body {
    font-family: Helvetica Neue, Helvetica, Arial;
}

h1 {
    font-weight: normal;
    text-align: center;
}

textarea {
    padding: 0;
    /*margin-top: 10px;*/
}

button {
    height: 20px;
}

#settings-container {
    margin: 0 auto;
    display: table;
}

#user-settings p , .message{
    margin-left: 10px;
}

#user-settings p {
    margin-bottom: 5px;
    font-style: italic;
}

.message {
    font-size: 12px;
    color: #666;
    background-color: lightgoldenrodyellow;
    border: 1px solid #faf992;
    padding: 3px;
    display: block;
}

.message>a {
    color: #1277dd
}

#user-settings textarea {
    border-color: #efefef;
    margin-bottom: 20px;
    width: 750px;
    /*resize: none;*/
}

#user-settings textarea[readonly=readonly]{
    /*color: #999;*/
}

#settings-buttons-panel {
    margin-bottom: 30px;
}

#save-settings{
    float: right;
}

#reset-settings {
    float: right;
}

/* TODO: To be improved. Just some CSS for now. */
#user-message {
    width: 500px;
    position:fixed;
    top:0;
    left: 50%;
    margin-left: -250px;
    z-index: 1501;
    text-align: center;

    padding: 5px 0;
    /*min-height: 30px;*/

    color: #ffffff;
    opacity: 0.98;
    font-size: 12px;

    /*corner-bottom*/
    -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; -khtml-border-bottom-left-radius: 2px; border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; -khtml-border-bottom-right-radius: 2px; border-bottom-right-radius: 2px;
}

#user-message>p {
    padding: 0; margin: 0;
}

#user-message .json-error-message {
    font-style: italic;
}

#user-message.error {
    background: #e30202;
    border: 1px solid #e60000;
}

#user-message.success {
    background-color: #3e801b;
    border: 1px solid #3e801b;
}

