body {
    font-family: Helvetica Neue, Helvetica, Arial;
}

h1 {
    font-weight: normal;
    text-align: center;
}

textarea {
    padding: 0;
    /*margin-top: 10px;*/
}

button {
    height: 20px;
}




#settings-container {
    margin: 0 auto;
    display: table;
}

#user-settings p {
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-left: 10px;
    font-style: italic;
    /*background-color: #fafafa;*/
}

#user-settings textarea {
    border-color: #efefef;
    margin-bottom: 20px;
}

#settings-buttons-panel {
    margin-bottom: 30px;
}

#save-settings{
   float: right;
}

#reset-settings {
    float: right;
}


