/* Table of Content
==================================================
	#Site Styles
	#Home Page
	#Media Queries
	#Font-Face */
/* #Site Styles
================================================== */
/* line 14, ../scss/common.scss */
html {
  height: 100%;
}

/* line 18, ../scss/common.scss */
body {
  color: #444444;
  min-height: 100%;
}

/* line 24, ../scss/common.scss */
a {
  color: #444444;
  cursor: pointer;
  text-decoration: underline;
}
/* line 30, ../scss/common.scss */
a:hover {
  color: #444444;
}

/* line 35, ../scss/common.scss */
p, li {
  font-size: 17px;
  line-height: 24px;
}

/* line 40, ../scss/common.scss */
li {
  line-height: 22px;
}

/* line 44, ../scss/common.scss */
.fixer {
  clear: both;
}

/* line 48, ../scss/common.scss */
h3 {
  padding-bottom: 10px;
}

/* line 52, ../scss/common.scss */
.bold {
  font-weight: bold;
  color: #444;
}

/* line 61, ../scss/common.scss */
header {
  background-color: #f2f2f2;
  border-bottom: 1px solid #eee;
  padding: 15px 0;
}
/* line 66, ../scss/common.scss */
header span {
  margin: 0 0 0 20px;
}
/* line 70, ../scss/common.scss */
header a {
  font-size: 16px;
  float: right;
  color: #999999;
}
/* line 75, ../scss/common.scss */
header a:hover {
  color: #444444;
}
/* line 80, ../scss/common.scss */
header #units-logo a {
  font-size: 32px;
  float: left;
  text-decoration: none;
  color: #666666;
}

/* line 88, ../scss/common.scss */
.shortcut-key {
  border: 1px solid #ddd;
  padding: 2px 4px;
  background-color: #eee;
  border-radius: 3px;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
}

/* line 97, ../scss/common.scss */
.main-content {
  padding: 20px;
}

/* #Footer
================================================== */
/* line 105, ../scss/common.scss */
footer, #footer {
  height: 100px;
  background-color: #333333;
  color: #eeeeee;
  width: 100%;
  position: absolute;
  bottom: 0;
}
/* line 113, ../scss/common.scss */
footer a, #footer a {
  color: #999999;
  text-decoration: none;
}
/* line 117, ../scss/common.scss */
footer a:hover, #footer a:hover {
  color: #eee;
}
/* line 121, ../scss/common.scss */
footer ul, #footer ul {
  line-height: 100px;
  /* Center the ul content vertically. Will work if we have only one row of text. */
  text-align: center;
  /* Center horizontally */
}
/* line 125, ../scss/common.scss */
footer li, #footer li {
  display: inline-block;
  margin-right: 30px;
}
