/*
Contains styles specific to index.html (Home page)
*/
/* line 9, ../scss/index.scss */
.under-construction {
  display: none;
  background-color: lightgoldenrodyellow;
  position: fixed;
  right: 20px;
}

/* line 16, ../scss/index.scss */
.centered {
  text-align: center;
}

/* line 20, ../scss/index.scss */
nav {
  padding-top: 60px;
  position: fixed;
}
/* line 9, ../scss/_base-variables.scss */
nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 130px;
}
/* line 16, ../scss/_base-variables.scss */
nav li {
  margin: 0;
  color: #999999;
  font-size: 13px;
  line-height: 20px;
  cursor: pointer;
  border-bottom: 1px solid #bbb;
}
/* line 27, ../scss/_base-variables.scss */
nav li.menu-selected, nav li:hover {
  color: #333333;
  border-bottom: 1px solid #999;
  transition: all 0.5s ease-out;
}
/* line 35, ../scss/_base-variables.scss */
nav a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 10px 5px 5px 5px;
}

/* line 29, ../scss/index.scss */
section {
  padding: 30px;
  margin: 10px 0 20px 0;
  text-align: justify;
  position: relative;
  /* to make this a positioned parent */
  /* Default color of section*/
  background-color: #F4F1D7;
  border: 1px solid #e9e3af;
}
/* line 39, ../scss/index.scss */
section h4, section h3 {
  text-align: center;
}

/* Section individual colors */
/* line 46, ../scss/index.scss */
section#home {
  background-color: #F4F1D7;
  border: 1px solid #e9e3af;
}

/* line 57, ../scss/index.scss */
section.feature {
  background-color: #fbf4f0;
  border-color: #f8ebe4;
}
/* line 61, ../scss/index.scss */
section.feature h4 {
  color: #F06060;
}
/* line 66, ../scss/index.scss */
section.feature:nth-child(2n) {
  background-color: #f8ebe4;
  border-color: #f5e2d7;
}

/* line 72, ../scss/index.scss */
section#supported-websites {
  background-color: #45687d;
  border-color: #334D5C;
}

/* Hero section (corresponds to 'Home' on the navigation menu') */
/* line 79, ../scss/index.scss */
#home {
  text-align: center;
  padding: 20px;
}
/* line 83, ../scss/index.scss */
#home .title {
  font-size: 6em;
  line-height: 1;
  color: #666666;
}
/* line 89, ../scss/index.scss */
#home .beta {
  font-size: 0.2em;
  color: #999999;
}
/* line 94, ../scss/index.scss */
#home .hero-text {
  font-size: 1.5em;
  line-height: 1.2;
  width: 80%;
  margin: 10px auto;
}
/* line 101, ../scss/index.scss */
#home .tagline {
  color: gray;
}
/* line 105, ../scss/index.scss */
#home .description {
  font-size: 1.3em;
}
/* line 109, ../scss/index.scss */
#home .install-button {
  font-size: 150%;
  background: #02a6eb;
  color: white;
  border: 1px solid #eaeaea;
  margin: 20px 0;
}
/* line 116, ../scss/index.scss */
#home .install-button:hover {
  background: #029fe1;
  border: 1px solid #fafafa;
}
/* line 121, ../scss/index.scss */
#home .install-button .small-text {
  font-size: 50%;
}
/* line 126, ../scss/index.scss */
#home .main-features {
  margin-top: 40px;
}
/* line 128, ../scss/index.scss */
#home .main-features h5 {
  font-weight: bold;
}

/* Core concept section*/
/* line 141, ../scss/index.scss */
section#core-concept h4 {
  margin-bottom: 20px;
}
/* line 144, ../scss/index.scss */
section#core-concept img {
  padding-right: 10px;
}
/* line 147, ../scss/index.scss */
section#core-concept h5 {
  font-size: 18px;
}

/* line 153, ../scss/index.scss */
.text {
  width: 600px;
  margin: auto;
}

/* line 158, ../scss/index.scss */
.key-features-title {
  background-color: #f1f1f1;
  color: #acacac;
  line-height: 40px;
  text-align: center;
  padding: 10px 10px;
  margin: 10px 0;
}

/* Main Features */
/* line 169, ../scss/index.scss */
.feature h4 {
  margin-bottom: 10px;
}
/* line 173, ../scss/index.scss */
.feature figure, .feature img {
  max-width: 600px;
}
/* line 177, ../scss/index.scss */
.feature figcaption {
  background-color: lightgoldenrodyellow;
}
/* line 181, ../scss/index.scss */
.feature h6 {
  font-style: italic;
}

/* line 187, ../scss/index.scss */
.try-it-out {
  background-color: #555;
  color: #fafafa;
  display: inline-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  right: -10px;
  top: 50px;
  width: 150px;
  padding: 4px;
  text-align: left;
  z-index: 1;
}
/* line 199, ../scss/index.scss */
.try-it-out p {
  font-size: 14px;
  line-height: 17px;
  margin: 0;
}

/* line 208, ../scss/index.scss */
#supported-websites {
  color: #eee;
}
/* line 210, ../scss/index.scss */
#supported-websites h6 {
  display: inline-block;
  color: #e0d97a;
  font-style: normal;
}
/* line 216, ../scss/index.scss */
#supported-websites ul {
  border: 1px solid #426376;
}
/* line 220, ../scss/index.scss */
#supported-websites li {
  margin-bottom: 6px;
  padding: 5px;
}
/* line 224, ../scss/index.scss */
#supported-websites li span, #supported-websites li a {
  color: #eee;
  text-decoration: none;
}
/* line 229, ../scss/index.scss */
#supported-websites li:nth-child(2n) {
  background-color: #496e83;
  color: #fafafa;
}

/* Overlay and message that shows when inline install extension UI shows */
/* line 238, ../scss/index.scss */
.overlay {
  background: black;
  opacity: 0.85;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: none;
}
/* line 246, ../scss/index.scss */
.overlay .message {
  top: 300px;
  position: absolute;
  width: 400px;
  color: #eeeeee;
  font-size: 18px;
  display: inline-block;
  left: 50%;
  margin-left: -200px;
}

/* #Media Queries
================================================== */
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  /* line 263, ../scss/index.scss */
  .text {
    width: auto;
  }
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* Design for a section width of 420px */
  /* line 271, ../scss/index.scss */
  section {
    padding: 10px !important;
  }

  /* line 277, ../scss/index.scss */
  #video-container iframe, .feature img {
    width: 400px;
  }

  /* line 282, ../scss/index.scss */
  #video-container iframe {
    height: 250px;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  /* line 271, ../scss/index.scss */
  section {
    padding: 10px !important;
  }

  /* line 277, ../scss/index.scss */
  #video-container iframe, .feature img {
    width: 280px;
  }

  /* line 282, ../scss/index.scss */
  #video-container iframe {
    height: 175px;
  }
}
/* Changing from margin:auto to a fixed margin-left. This is because we don't want the left navigation menu to get hidden
 for these specific widths.*/
@media only screen and (min-width: 1024px) and (max-width: 1260px) {
  /* line 306, ../scss/index.scss */
  .container {
    margin-left: 150px;
  }
}
/* This width range is specific to the design of this site. */
@media only screen and (min-width: 1024px) and (max-width: 1110px) {
  /* line 311, ../scss/index.scss */
  .try-it-out {
    width: 120px;
                /* Reduce width from 150px as it is overlapping with the main text in the section.
This is happening because we reduce the section width for screen width > 1024 and < 1110px */
  }
}
/* Tablet landscape and all smaller mobile devices*/
@media only screen and (max-width: 1023px) {
  /* hide the left navigation bar and the "try it out" labels in mobile */
  /* line 321, ../scss/index.scss */
  nav, .try-it-out {
    display: none;
  }
}
