/* line 4, ../scss/layout.scss */
.under-construction {
  background-color: lightgoldenrodyellow;
  position: fixed;
  right: 20px;
}

/* Table of Content
==================================================
	#Site Styles
	#Home Page
	#Media Queries
	#Font-Face */
/* #Site Styles
================================================== */
/* line 20, ../scss/layout.scss */
body {
  color: #444444;
}

/* line 24, ../scss/layout.scss */
header {
  float: right;
  padding-top: 20px;
}
/* line 28, ../scss/layout.scss */
header span {
  margin: 0 20px 0 0;
}

/* line 33, ../scss/layout.scss */
p, li {
  font-size: 17px;
  line-height: 24px;
}

/* line 38, ../scss/layout.scss */
li {
  line-height: 22px;
}

/* line 42, ../scss/layout.scss */
.fixer {
  clear: both;
}

/* line 46, ../scss/layout.scss */
h3 {
  padding-bottom: 10px;
  text-align: center;
}

/* line 51, ../scss/layout.scss */
.bold {
  font-weight: bold;
  color: #444;
}

/* #Home page
================================================== */
/* line 60, ../scss/layout.scss */
nav {
  padding-top: 60px;
  position: fixed;
}
/* line 9, ../scss/_base-variables.scss */
nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 130px;
}
/* line 16, ../scss/_base-variables.scss */
nav li {
  margin: 0;
  color: #999999;
  font-size: 13px;
  line-height: 20px;
  cursor: pointer;
  border-bottom: 1px solid #bbb;
}
/* line 27, ../scss/_base-variables.scss */
nav li.menu-selected, nav li:hover {
  color: #333333;
  border-bottom: 1px solid #999;
  transition: all 0.5s ease-out;
}
/* line 35, ../scss/_base-variables.scss */
nav a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 10px 5px 5px 5px;
}

/* line 67, ../scss/layout.scss */
section {
  padding: 30px;
  margin: 10px 0 20px 0;
  text-align: justify;
  position: relative;
  /* to make this a positioned parent */
  /* Default color of section*/
  background-color: #F4F1D7;
  border: 1px solid #e9e3af;
}
/* line 77, ../scss/layout.scss */
section h4 {
  text-align: center;
}

/* Section individual colors */
/* line 84, ../scss/layout.scss */
section#home {
  background-color: #F4F1D7;
  border: 1px solid #e9e3af;
}

/* line 89, ../scss/layout.scss */
section#core-concept {
  background-color: #8CBEB2;
  color: white;
  border: 1px solid #6bac9c;
}

/* line 95, ../scss/layout.scss */
section.feature {
  background-color: #fbf4f0;
  border-color: #f8ebe4;
}
/* line 99, ../scss/layout.scss */
section.feature h4 {
  color: #F06060;
  font-weight: bold;
}
/* line 104, ../scss/layout.scss */
section.feature:nth-child(2n) {
  background-color: #f8ebe4;
  border-color: #f5e2d7;
}

/* line 110, ../scss/layout.scss */
section#supported-websites {
  background-color: #45687d;
  border-color: #334D5C;
}

/* Hero section (corresponds to 'Home' on the navigation menu') */
/* line 117, ../scss/layout.scss */
#home {
  text-align: center;
  padding: 20px;
}
/* line 121, ../scss/layout.scss */
#home .title {
  font-size: 6em;
  line-height: 1;
  color: #666666;
}
/* line 127, ../scss/layout.scss */
#home .beta {
  font-size: 0.2em;
  color: #999999;
}
/* line 132, ../scss/layout.scss */
#home .hero-text {
  font-size: 1.5em;
  line-height: 1.2;
  width: 80%;
  margin: 10px auto;
}
/* line 139, ../scss/layout.scss */
#home .tagline {
  color: gray;
}
/* line 143, ../scss/layout.scss */
#home .description {
  font-size: 1.3em;
}
/* line 147, ../scss/layout.scss */
#home .install-button {
  font-size: 150%;
  background: #02a6eb;
  color: white;
  border: 1px solid #eaeaea;
  margin: 20px 0;
}
/* line 154, ../scss/layout.scss */
#home .install-button:hover {
  background: #029fe1;
  border: 1px solid #fafafa;
}
/* line 159, ../scss/layout.scss */
#home .install-button .small-text {
  font-size: 50%;
}
/* line 164, ../scss/layout.scss */
#home .main-features {
  margin-top: 40px;
}
/* line 166, ../scss/layout.scss */
#home .main-features h5 {
  font-weight: bold;
}

/* Core concept section*/
/* line 175, ../scss/layout.scss */
section#core-concept {
  text-align: center;
  margin: auto;
}
/* line 179, ../scss/layout.scss */
section#core-concept h4 {
  margin-bottom: 20px;
}
/* line 182, ../scss/layout.scss */
section#core-concept img {
  padding-right: 10px;
}
/* line 185, ../scss/layout.scss */
section#core-concept h5 {
  font-size: 18px;
}

/* line 191, ../scss/layout.scss */
.text {
  width: 600px;
  margin: auto;
}

/* line 196, ../scss/layout.scss */
.key-features-title {
  background-color: #f1f1f1;
  color: #acacac;
  line-height: 40px;
  text-align: center;
  padding: 10px 10px;
  margin: 10px 0;
}

/* Main Features */
/* line 207, ../scss/layout.scss */
.feature h4 {
  margin-bottom: 10px;
}
/* line 211, ../scss/layout.scss */
.feature figure, .feature img {
  max-width: 600px;
}
/* line 215, ../scss/layout.scss */
.feature figcaption {
  background-color: lightgoldenrodyellow;
}
/* line 219, ../scss/layout.scss */
.feature h6 {
  font-style: italic;
}

/* line 225, ../scss/layout.scss */
.try-it-out {
  background-color: #555;
  color: #fafafa;
  display: inline-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  right: -10px;
  top: 50px;
  width: 150px;
  padding: 4px;
  z-index: 1;
}
/* line 236, ../scss/layout.scss */
.try-it-out p {
  font-size: 14px;
  line-height: 17px;
  margin: 0;
}

/* line 245, ../scss/layout.scss */
#supported-websites {
  color: #eee;
}
/* line 247, ../scss/layout.scss */
#supported-websites h6 {
  display: inline-block;
  color: #e0d97a;
  font-style: normal;
}
/* line 253, ../scss/layout.scss */
#supported-websites ul {
  border: 1px solid #426376;
}
/* line 257, ../scss/layout.scss */
#supported-websites li {
  margin-bottom: 6px;
  padding: 5px;
}
/* line 261, ../scss/layout.scss */
#supported-websites li span, #supported-websites li a {
  color: #eee;
  text-decoration: none;
}
/* line 266, ../scss/layout.scss */
#supported-websites li:nth-child(2n) {
  background-color: #496e83;
  color: #fafafa;
}

/* Overlay and message that shows when inline install extension UI shows */
/* line 275, ../scss/layout.scss */
.overlay {
  background: black;
  opacity: 0.85;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: none;
}
/* line 283, ../scss/layout.scss */
.overlay .message {
  top: 300px;
  position: absolute;
  width: 400px;
  color: #eeeeee;
  font-size: 18px;
  display: inline-block;
  left: 50%;
  margin-left: -200px;
}

/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  /* line 303, ../scss/layout.scss */
  nav, .try-it-out {
    display: none;
  }
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  /* line 313, ../scss/layout.scss */
  .text {
    width: auto;
  }
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* Design for a section width of 420px */
  /* line 321, ../scss/layout.scss */
  section {
    padding: 10px !important;
  }

  /* line 327, ../scss/layout.scss */
  #video-container iframe, .feature img {
    width: 400px;
  }

  /* line 332, ../scss/layout.scss */
  #video-container iframe {
    height: 250px;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  /* line 321, ../scss/layout.scss */
  section {
    padding: 10px !important;
  }

  /* line 327, ../scss/layout.scss */
  #video-container iframe, .feature img {
    width: 280px;
  }

  /* line 332, ../scss/layout.scss */
  #video-container iframe {
    height: 175px;
  }
}
