/* line 4, ../scss/layout.scss */
.under-construction {
  background-color: lightgoldenrodyellow;
  position: fixed;
  right: 20px;
}

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */
/* #Site Styles
================================================== */
/* line 20, ../scss/layout.scss */
body {
  color: #444444;
}

/* line 25, ../scss/layout.scss */
header {
  float: right;
  padding-top: 20px;
}
/* line 29, ../scss/layout.scss */
header span {
  margin: 0 20px 0 0;
}

/* line 34, ../scss/layout.scss */
p, li {
  font-size: 17px;
  line-height: 24px;
}

/* line 39, ../scss/layout.scss */
li {
  line-height: 22px;
}

/* line 43, ../scss/layout.scss */
.fixer {
  clear: both;
}

/* line 54, ../scss/layout.scss */
section {
  border-bottom: 1px solid #eaeaea;
  padding: 40px;
  margin: 10px 0 20px 0;
  background-color: #F4F1D7;
  border: 1px solid #e9e3af;
  text-align: justify;
  position: relative;
  /* make this a positioned parent */
}
/* line 63, ../scss/layout.scss */
section h4 {
  text-align: center;
}

/* line 68, ../scss/layout.scss */
section#core-concept {
  background-color: #8CBEB2;
  color: white;
  text-align: center;
  margin: auto;
  border: 1px solid #6bac9c;
}

/* line 77, ../scss/layout.scss */
section.feature {
  background-color: #fbf4f0;
  border-color: #f8ebe4;
}
/* line 82, ../scss/layout.scss */
section.feature h4 {
  color: #F06060;
  font-weight: bold;
  text-align: center;
}
/* line 92, ../scss/layout.scss */
section.feature:nth-child(2n) {
  background-color: #f8ebe4;
  border-color: #f5e2d7;
}

/* line 99, ../scss/layout.scss */
section#supported-websites {
  background-color: #45687d;
  border-color: #334D5C;
}

/* line 104, ../scss/layout.scss */
nav {
  padding-top: 60px;
  position: fixed;
}
/* line 9, ../scss/_base-variables.scss */
nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 130px;
}
/* line 16, ../scss/_base-variables.scss */
nav li {
  margin: 0;
  color: #999999;
  font-size: 13px;
  line-height: 20px;
  cursor: pointer;
  border-bottom: 1px solid #bbb;
}
/* line 27, ../scss/_base-variables.scss */
nav li.menu-selected, nav li:hover {
  color: #333333;
  border-bottom: 1px solid #999;
  transition: all 0.5s ease-out;
}
/* line 35, ../scss/_base-variables.scss */
nav a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 10px 5px 5px 5px;
}

/* line 111, ../scss/layout.scss */
h3 {
  padding-bottom: 10px;
  text-align: center;
}

/* line 116, ../scss/layout.scss */
.bold {
  font-weight: bold;
  color: #444;
}

/* #Page Styles
================================================== */
/* line 124, ../scss/layout.scss */
.hero {
  padding: 20px 0;
  text-align: center;
}
/* line 128, ../scss/layout.scss */
.hero .title {
  font-size: 6em;
  line-height: 1;
  color: #666666;
}
/* line 135, ../scss/layout.scss */
.hero .beta {
  font-size: 0.2em;
  color: #999999;
}
/* line 140, ../scss/layout.scss */
.hero .hero-text {
  font-size: 1.5em;
  line-height: 1.2;
  width: 80%;
  margin: 10px auto;
}
/* line 147, ../scss/layout.scss */
.hero .tagline {
  color: gray;
}
/* line 151, ../scss/layout.scss */
.hero .description {
  font-size: 1.3em;
}
/* line 156, ../scss/layout.scss */
.hero .install-button {
  font-size: 150%;
  background: #02a6eb;
  color: white;
  border: 1px solid #eaeaea;
  margin: 20px 0;
}
/* line 163, ../scss/layout.scss */
.hero .install-button:hover {
  background: #029fe1;
  border: 1px solid #fafafa;
}
/* line 168, ../scss/layout.scss */
.hero .install-button .small-text {
  font-size: 50%;
}
/* line 173, ../scss/layout.scss */
.hero .main-features {
  margin-top: 40px;
}
/* line 175, ../scss/layout.scss */
.hero .main-features h5 {
  font-weight: bold;
}

/* line 189, ../scss/layout.scss */
#video-container table {
  margin-left: 100px;
}

/* line 196, ../scss/layout.scss */
#supported-sites-table img {
  max-height: 30px;
  max-width: 100px;
  margin: 5px;
}
/* line 202, ../scss/layout.scss */
#supported-sites-table td {
  vertical-align: middle;
}

/* line 209, ../scss/layout.scss */
section#core-concept h4 {
  margin-bottom: 20px;
}
/* line 212, ../scss/layout.scss */
section#core-concept img {
  padding-right: 10px;
}
/* line 215, ../scss/layout.scss */
section#core-concept h5 {
  font-size: 18px;
}

/* line 221, ../scss/layout.scss */
.text {
  width: 600px;
  margin: auto;
}

/* line 226, ../scss/layout.scss */
.key-features-title {
  background-color: #f1f1f1;
  color: #acacac;
  line-height: 40px;
  text-align: center;
  padding: 10px 10px;
  margin: 10px 0;
}

/* Main Features */
/* line 237, ../scss/layout.scss */
section h4 {
  margin-bottom: 10px;
}
/* line 241, ../scss/layout.scss */
section figure, section img {
  width: 600px;
}
/* line 250, ../scss/layout.scss */
section figcaption {
  background-color: lightgoldenrodyellow;
}

/* line 256, ../scss/layout.scss */
#demo > div {
  margin: 20px auto;
  width: 640px;
}

/* line 261, ../scss/layout.scss */
section h6 {
  font-style: italic;
}

/* line 266, ../scss/layout.scss */
.try-it-out {
  background-color: #555;
  color: #fafafa;
  display: inline-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  right: -10px;
  top: 50px;
  width: 150px;
  padding: 4px;
}
/* line 277, ../scss/layout.scss */
.try-it-out p {
  font-size: 14px;
  line-height: 17px;
  margin: 0;
}

/* line 287, ../scss/layout.scss */
#supported-websites {
  color: #eee;
}
/* line 289, ../scss/layout.scss */
#supported-websites h6 {
  display: inline-block;
  color: #e0d97a;
  font-style: normal;
}
/* line 296, ../scss/layout.scss */
#supported-websites ul {
  border: 1px solid #426376;
}
/* line 300, ../scss/layout.scss */
#supported-websites li {
  margin-bottom: 6px;
  padding: 5px;
}
/* line 304, ../scss/layout.scss */
#supported-websites li span, #supported-websites li a {
  color: #eee;
  text-decoration: none;
}
/* line 309, ../scss/layout.scss */
#supported-websites li:nth-child(2n) {
  background-color: #496e83;
  color: #fafafa;
}

/* line 320, ../scss/layout.scss */
.overlay {
  background: black;
  opacity: 0.85;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
/* line 328, ../scss/layout.scss */
.overlay .message {
  top: 300px;
  position: absolute;
  width: 400px;
  color: white;
  font-size: 18px;
  display: inline-block;
  left: 50%;
  margin-left: -200px;
}

/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width: 700px) and (max-width: 1300px) {
  /* line 365, ../scss/layout.scss */
  .container {
    margin-left: 150px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 369, ../scss/layout.scss */
  nav {
    display: none;
  }

  /* line 370, ../scss/layout.scss */
  #demo iframe {
    width: 300px;
  }
}
