
$border-grey: #eaeaea;
$text-color: #444;
$text-color-grey: #999;

$nav-menu-width: 130px;

@mixin simple-vertical-menu {
  &>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: $nav-menu-width;
  }

  li {
    margin: 0;
    color: #999999;
    font-size: 13px;
    line-height: 20px;
    //font-family: Helvetica;
    //margin-bottom: 5px;
    //padding: 5px 5px 5px 5px;
    cursor: pointer;
    border-bottom: 1px solid #bbb;

    &.menu-selected, &:hover {
      color: #333333;
      border-bottom: 1px solid #999;
      transition: all 0.5s ease-out;
    }

  }

  a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: 10px 5px 5px 5px;
  }

}
