@import "base-variables";
@import "compass/css3/border-radius";

.under-construction {
  background-color: lightgoldenrodyellow;
  position: fixed;
  right: 20px;
}

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

body {
  //background-color: lighten($border-grey, 5);
  color: $text-color;
}

header {
  float: right;
  padding-top: 20px;

  span {
    margin: 0 20px 0 0;
  }
}

p, li {
  font-size: 17px;
  line-height: 24px;
}

li {
  line-height: 22px;
}

.fixer {
  clear: both;
}
.container {
  //background-color: aliceblue;
  //border-right: 1px solid $border-grey;
  //border-left: 1px solid $border-grey;
}



section {
  border-bottom: 1px solid $border-grey;
  padding: 40px;
  margin: 10px 0 20px 0;
  background-color: #F4F1D7;
  border: 1px solid darken(#F4F1D7, 10);
  text-align: justify;
  position: relative; /* make this a positioned parent */
  
  h4 {
    text-align: center;
  }
}

section#core-concept {
  background-color: #8CBEB2;
  color: white;
  text-align: center;
  margin: auto;
  border: 1px solid darken(#8CBEB2, 10);

}

section.feature {
  background-color:  lighten(#DC9C76, 30);
  border-color: lighten(#DC9C76, 27);
  //border-right: 10px solid orangered;

  h4 {
    color: #F06060;
    font-weight: bold;
    //background-color: brown;
    //color: white;
    //display: inline-block;
    //margin: auto;
    text-align: center;
  }

  &:nth-child(2n) {
    background-color: lighten(#DC9C76, 27);
    border-color: lighten(#DC9C76, 24);
  }

}

section#supported-websites {
  background-color: lighten(#334D5C, 10);
  border-color: #334D5C;
}

nav {
  padding-top: 60px;
  position: fixed;

  @include simple-vertical-menu;
}

h3 {
  padding-bottom: 10px;
  text-align: center;
}

.bold {
  font-weight: bold;
  color: #444;
}

/* #Page Styles
================================================== */

.hero {
  padding: 20px 0;
  text-align: center;

  .title {
    font-size: 6em;
    line-height: 1;
    color: #666666;
    //margin: 40px 0;
  }

  .beta {
    font-size: 0.2em;
    color: $text-color-grey;
  }

  .hero-text {
    font-size: 1.5em;
    line-height: 1.2;
    width: 80%;
    margin: 10px auto;
  }

  .tagline {
    color: darken($text-color-grey, 10);
  }

  .description {
    //text-align: left;
    font-size: 1.3em;
  }

  .install-button {
    font-size: 150%;
    background: #02a6eb;
    color: white;
    border: 1px solid $border-grey;
    margin: 20px 0;

    &:hover {
      background: darken(#02a6eb, 2);
      border: 1px solid #fafafa;
    }

    .small-text {
      font-size: 50%;
    }
  }

  .main-features {
    margin-top: 40px;
    h5 {
      font-weight: bold;

    }
  }
}


#video-container {
 //margin-top: 50px;
 iframe, table {
   //float: left;
 }

 table {
   margin-left: 100px;
 }

}

#supported-sites-table {
  img{
    max-height: 30px;
    max-width: 100px;
    margin: 5px;
  }

  td {
    vertical-align: middle;
  }
}


section#core-concept {
  h4 {
    margin-bottom: 20px;
  }
  img {
    padding-right: 10px;
  }
  h5 {
    font-size: 18px;
  }

}

.text {
  width: 600px;
  margin: auto;
}

.key-features-title {
  background-color: #f1f1f1;
  color: #acacac;
  line-height: 40px;
  text-align: center;
  padding: 10px 10px;
  margin: 10px 0;
}

/* Main Features */
section {
  h4 {
    margin-bottom: 10px;
  }

  figure, img{
    width: 600px;
  }

  figure {
    //padding: 2px;
    ////border: 1px solid #ccc;
  }

  figcaption {
    background-color: lightgoldenrodyellow;
  }

}

#demo>div {
  margin: 20px auto;
  width: 640px;
}

section h6 {
  //font-weight: bold;
  font-style: italic;
}

.try-it-out {
  background-color: #555;
  color: #fafafa;
  display: inline-block;
  @include border-radius(2px);
  position: absolute;
  right: -10px;
  top: 50px;
  width: 150px;
  padding: 4px;

  p {
    font-size: 14px;
    line-height: 17px;
    margin: 0;
  }
  z-index: 1; // so that the selected unit overlay goes under the try-it-out div

// display: none;

}

#supported-websites {
  color: #eee;
  h6 {
    display: inline-block;
    color: #e0d97a;
    font-style: normal;
    //color: lightgoldenrodyellow;
  }

  ul {
    border: 1px solid lighten(#334D5C, 8);
  }

  li {
    margin-bottom:  6px;
    padding: 5px;

    span, a {
      color: #eee;
      text-decoration: none;
    }

    &:nth-child(2n) {
      background-color: lighten(#334D5C, 12);
      color: #fafafa;


      //color: #333;
    }
  }
}


.overlay {
  background: black;
  opacity: 0.85;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;

  display: none;

  .message {
    top: 300px;
    position: absolute;
    width: 400px;
    color: white;
    font-size: 18px;
    display: inline-block;
    left: 50%;
    margin-left: -200px;
  }

}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}




//TODO: Play with this a bit more.

@media only screen and (min-width: 700px) and (max-width: 1300px) {
  .container {margin-left: $nav-menu-width + 20}
}

@media only screen and (max-width: 767px) {
  nav {display: none; }
  #demo iframe {
    width: 300px;
  }

}
