@import "base";
@import "modal";

body {
    height: 100%; width: 100%;
    margin: 0; padding: 0;
    font-size: 13px;
}

#help {
    font-family: $sans-serif-font-family;
    color: $text-color;
    background-color: white;
}

// These calculations can be automated using js. We are manually setting the modalbody-content-width and sidebar width here.
$modalbody-content-width: 1060px;
$sidebar: 130px;
$maincontent-width: $modalbody-content-width - $sidebar; // equals 930px;

.sidebar {
  float: left;
  width: 130px;
}

.main-content {
  float: left;
  width: $maincontent-width;
}

$section-margin: 5px;
#help .section {
    width: ($maincontent-width - ($section-margin * 6))/3;
    float: left;
    margin: 0 $section-margin;
}

table {
    text-align: left;
    border-spacing: 0;
}

table tr {
    height: 25px;
}


td, th {
    font-family: $sans-serif-font-family;
    font-size: 13px;
    color: $text-color;
    border: none;
    background-color: inherit;
    background: inherit;
    padding: 4px;
    border-bottom: 1px solid #ededed;

}

.key {
    padding-right: 10px;
    text-align: right;
    line-height: 25px;
}

.action {
    vertical-align: middle;
    color: #444;
    //padding: 3px 5px 3px 5px; /*padding top and bottom is 3px to be consistent with td.key>span.key*/
}

.key>.key-text {
  //background-color: #5b6c8d;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 4px; /* Note: If you change this, then change td or td.action padding as well. They should be consistent. */
  margin: 0 2px;
  color: #444;
  background-color: #fafafa;
  font-size: 12px;
}

td.key>span.separator, tr.subsection-title>td {
    text-align: center;
}

td.key>span.separator {
    font-size: 11px;
}

.page-specific {
    background-color: #FFFFEA;
}

#footer-message {
    text-align: left;
    background-color: inherit;
    border: none;
    font-size: 12px;
    margin: 0;
}

tr.subsection-end>td{
    padding-bottom: 20px;
    border-bottom: 0;
}

.subsection-title>td{
    font-size: 12px;
    color: $subheading-color;
    font-weight: bold;
    text-align: center;
    font-family: $serif-font-family;
}

.disabled {
  color: $message-disabled-color;
  td, th {
    color: $message-disabled-color !important;
  }
}

#filter-by {
  //position: fixed;
  //top:$options-mainContent-posTop;
  //float:left;

  &>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 130px;
  }

  li {
    //float: left;
    margin-right: 10px;
    color: #999999;
    font-size: 13px;
    font-family: Helvetica;
    margin-bottom: 5px;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
    border-bottom: 1px solid #bbb;

    &.menu-selected {
      color: #ffffea;
      border-bottom: 1px solid #999;
      transition: all 0.5s ease-out;
      background-color: coral;
    }

  }

}
