@import "base";

body {
    font-family: $sans-serif-font-family;
    margin: 0; padding: 0;
}

textarea {
    padding: 0;
    margin-top: 10px;
}


/* Adapted from twitter bootstrap button style */
button {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 17px;
  color: #333333 /*#eee*/;
  text-align: center;
  /*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);*/
  vertical-align: middle;
  cursor: pointer;
  font-family: $sans-serif-font-family;
  /*box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;*/
  background-color: /*#666*/ #e6e6e6;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(230, 230, 230));
  /*background-position: 0px -15px;*/
  background-repeat: repeat-x;    border: 1px solid #cccccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  /*border-bottom-color: #b3b3b3;*/
  @include border-radius(4px);

  &:hover {
    background-color: #bbb;
  }
}

$options-content-width: 750px;

#settings-header {
    margin: 0 auto 20px auto;
    padding: 0;
    position: fixed;
    top: 0;
    height: 40px;
    width: 100%;
    background: /*cadetblue*/ rgb(255, 237, 237);
    box-sizing: border-box;
    border-bottom: 1px solid rgb(255, 107, 109);
    z-index: 2;
}

    #header-content{
        width: $options-content-width;
        margin: 0 auto;
        padding: 0;
        font-weight: normal;
        vertical-align: middle;
        line-height: 40px;
        //display: inline-block;

      a {
        text-decoration: none;
        padding: 5px;
      }
    }

    #h1 {
      font-family: Palatino, Georgia, 'Times New Roman', serif;
      font-size: 20px;
      font-weight: normal;
      color: #666666;
      font-weight: bold;
    }

    #navigation {
      display: inline-block;
      float: right;
      margin: 0;
      padding: 0;
    }

    #navigation>li {
      float: left;
      margin-right: 10px;
    }

    #navigation a {
      color: $text-color;
    }

    #navigation a.selected {
      background-color: #333;
      color: $text-color-light;
    }

/*
Success/Error message styles
*/

#user-message {
  box-sizing: border-box;
  width: 400px;
  position:fixed;
  line-height: 14px;
  top:0;
  left: 50%;
  margin-left: -200px;
  z-index: 1501;
  text-align: center;

  padding: 5px 0;

  color: $text-color-light;
  opacity: 0.98;
  font-size: 12px;

  /*corner-bottom*/
  @include border-radius(0 0 2px 2px);
}

#user-message>p {
  padding: 0; margin: 0;
}

#user-message .json-error-message {
  font-style: italic;
}

#user-message.error {
  background: #e30202;
  border: 1px solid #e60000;
}

#user-message.success {
  background-color: #27805b;
  border: 1px solid #068065;
}

.section {
  padding-bottom: 40px;
}

#settings-container {
  margin: 0 auto;
  position: relative;
  top: 60px;
  width: $options-content-width;
}

/*
Basic Options styles
*/


#basic-options {
  display: none;
  tr {
    height: 20px;
  }
  tr:nth-child(2n+1) {
    background-color: #fafafa;
  }
  td {
    line-height: 20px;
    color: #333333;
    padding: 10px;
  }

  .subheading {
    margin-bottom: 10px;
  }

  table {
    font-size: 14px;
  }

  .input-help-message {
    margin-left: 5px;
  }
}

.input-help-message {
  color: $message-color-grey;
  font-size: 12px;
}

/*
Advanced Options styles
*/


#advanced-options {
    position: relative;
    margin: 0 auto;
}

    .options-message {
        color: $message-color-grey;
        font-size: 15px;
    }

    #options-main-message {
        margin-bottom: 10px;
        text-align: middle;
    }

.subheading {
    /*margin-bottom: 5px;*/
    /*font-style: italic;*/
    font-family: $serif-font-family;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    color: $subheading-color;
}

.subheading-message {
    font-size: 12px;
    color: #666;
    background-color: lightgoldenrodyellow;
    border: 1px solid #faf992;
    padding: 3px;
    display: block;
}

#advanced-options textarea {
    border-color: #efefef;
    width: 750px;
    /*resize: none;*/
}

textarea[readonly=readonly] {
  background-color: #fafafa;
  color: #666666;
}

textarea[readonly=readonly]:focus {
  outline: 1px solid #bbb;
}

#save-settings{
    float: right;
}

#reset-settings {
    float: right;
}

