@import "base";

body {
    font-family: $sans-serif-font-family;
    margin: 0; padding: 0;
}


h2 {
  font-family: $serif-font-family;
  font-weight: bold;
  font-size: 14px;
  color: $subheading-color;
  display: inline-block;
  margin: 0; margin-bottom: 5px;
}

h3 {
  font-family: $sans-serif-font-family;
  font-size: 13px;
  margin: 10px 0;
  color: lighten($subheading-color, 15);
  font-weight: normal;
  font-style: italic;
}

$options-content-width: 900px;
$options-header-height: 40px;
$options-subheader-height: 50px;
$options-mainContent-posTop: $options-header-height + $options-subheader-height; // header height + buttons panel (in advanced options) + margin
$options-header-bg-color: #EDF4FA;
$options-header-border-color: #ddd;

@mixin highlighted-message {
  color: #666;
  background-color: lightgoldenrodyellow;
  border: 1px solid #faf992;
  padding: 3px;
}

#settings-header {
    margin: 0 auto 20px auto;
    padding: 0;
    position: fixed;
    top: 0;
    height: $options-header-height;
    width: 100%;
    background: $options-header-bg-color;
    box-sizing: border-box;
    border-bottom: 1px solid $options-header-border-color;
    z-index: 2;
}

#header-content {
  width: $options-content-width;
  font-weight: normal;
  vertical-align: middle;
  line-height: $options-header-height;
  margin: 0 auto;
  padding: 0;

  a {
    text-decoration: none;
    padding: 5px;
  }

  #h1 {
    padding-left: 0;
  }
}

#h1 {
  font-family: Palatino, Georgia, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: normal;
  color: #666666;
  font-weight: bold;
}

#navigation {
  display: inline-block;
  float: right;
  margin: 0;
  padding: 0;
}

#navigation>li {
  float: left;
  margin-right: 10px;
}

#navigation a {
  color: #888;

  &:hover, &.selected {
    color: #333;
    transition: all 1s ease-out;
    border-bottom: solid 1px #999;

  }
  &.selected {
  }
}

/*
Success/Error message styles
*/

#user-message {
  box-sizing: border-box;
  width: 400px;
  position:fixed;
  line-height: 14px;
  top:0;
  left: 50%;
  margin-left: -200px;
  z-index: 1501;
  text-align: center;

  padding: 5px 0;

  color: $text-color-light;
  opacity: 0.98;
  font-size: 12px;

  /*corner-bottom*/
  @include border-radius(0 0 2px 2px);
}

#user-message>p {
  padding: 0; margin: 0;
}

#user-message .json-error-message {
  font-style: italic;
}

#user-message.error {
  background: #e30202;
  border: 1px solid #e60000;
}

#user-message.success {
  background-color: #27805b;
  border: 1px solid #068065;
}

section{
  padding-bottom: 40px;
}

#settings-container {
  margin: 0 auto;
  position: relative;
  top: $options-mainContent-posTop;
  width: $options-content-width;
}

.section-description {
  color: $message-color-grey;
  font-family: Helvetica;
}

/*
Basic Options styles
*/


#basic-options {
  display: none;

  /* Adjust for the subheader in the advanced options page. */
  margin-top : -($options-subheader-height - 20);

  tr {
    height: 20px;
  }
  tr:nth-child(2n+1) {
    background-color: #fafafa;
  }

  tr:hover {
/*    Show the descendant hidden buttons when row is hovered over*/
    .hidden {
    /* Needs to be marked as important, because properties in .delete-button and .hidden are marked as important. */
      display: inline-block !important;
    }
  }

  td {
    line-height: 20px;
    color: #333333;
    padding: 10px;

    button {
      float: right;
    }
  }

  table {
    font-size: 14px;
  }

  .reset-settings {
    float: right;
  }

  .section-description {
    margin: 0; margin-top: 5px;
    font-size: 11px;
    color: $message-color-grey;
  }
}

.input-help-message {
  color: $message-color-grey;
  font-size: 12px;
  margin-left: 5px;
}

.kbdshortcut, #misc-settings input {
  margin-right: 10px;
}

.input-help-message {
  margin-left: -5px; // -5px to compensate for the margin-right 10px of the adjacent input. (See the style just before
  //this one: .kbdshortcut, #misc-settings input)
  margin-right: 5px;
  padding: 0;
}

.kbdshortcut {
  display: inline-block;
  position: relative;

  input {
    max-width: 400px;
    width: 100%;
  }
}

.delete-button {
  @include close-button;
  /* Styles overriding the close-button mixin need to be marked as !important. Close-button mixin being used in the
  content script, has all styles set as !important. */
  position: absolute; top: -$close-button-height/2; right: -$close-button-height/2;
  background-color: #e38e83 !important;
  border: solid 1px #d1847b !important;
  color: #eee !important;

  &:hover {
    color: #fff !important;
    background-color: #e36467 !important;
  }
}

/*
This style should be defined after the .delete-button style, so that this overrides when needed.
Also, CSS needs to be marked as !important because properties of .delete-button are marked as important.
*/
.hidden {
  display: none !important;
}


/*
Advanced Options styles
*/


#advanced-options {
    position: relative;
    margin: 0 auto;

    &:focus {
      outline: none;
    }

    /* Fixed header, that contains the reset/save buttons and main message */
    .sub-header {
      position: fixed;
      top: $options-header-height;
      z-index: 2;
      vertical-align: middle;
      background: white;
      box-sizing: border-box;
      height: $options-subheader-height;
      line-height: $options-subheader-height; /* vertically align its contents. */
      width: $options-content-width;
    }

  .section-description {
    margin: 0; margin-bottom: 5px;
    font-size: 12px;
    color: $message-color-grey;
  }
}


/* Advanced Options sub-header elements */
#options-main-message {
    text-align: middle;
    font-size: 13px;
    display: inline-block;
}

#buttons-panel {
  display: inline-block;
  position: absolute;
  right:0;
}

/* Navigation Menu (to navigate between the sections on the Advanced Options page) */

#advanced-options-sections-navigation {
  position: fixed;
  top:$options-mainContent-posTop;

  &>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 130px;
  }

  li {
    //float: left;
    margin-right: 10px;
    color: #999999;
    font-size: 13px;
    font-family: Helvetica;
    margin-bottom: 5px;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
    border-bottom: 1px solid #bbb;

    &.menu-selected {
      color: #333333;
      border-bottom: 1px solid #999;
      transition: all 0.5s ease-out;
    }

  }

}


/* Sections (Advanced Options main content) */

#general-settings-section {
/*  so this acts as the offset parent*/
  position: relative;

  .context-message {
    @include highlighted-message;
    font-size: 12px;
    position: absolute;
    right: 0;
/*    *sheepish* randomly decided value so that the span sits just inside the textarea, from the top. */
    top: 45px;
    display: none;
  }
}

.section-subheading-message {
  @include highlighted-message;
  font-size: 12px;
  display: block;
}

.editable-container {
  border: 1px solid #efefef;
  padding: 0;
  max-height: 600px;
  overflow: auto;
  position: relative;
}

.editable-container.readonly {
  background-color: #fafafa;
  color: #666666;
}

.editable-container.readonly:focus {
  outline: 1px solid #bbb;
}

// JSON setting key help
#advanced-options-help {
  @include highlighted-message;
  //background-color: $options-header-bg-color;
  display: inline-block;
  max-width: 200px;
  position: absolute;
  top: 0; right: 0;
  font-size: 13px;
  padding: 5px;
  border: 1px solid $options-header-border-color;

  .key {
    font-weight: bold;
  }
}

