/*
This file contains styles that are applied on components that are inserted into webpages using content script.
Also, hence the generous use of !important property here.
*/

@import "base";

.CU-overlay {
  position: absolute;
  pointer-events: none; /*NOTE: pointer-events is not a CSS standard yet, but is supported  by webkit browsers and firefox*/
}

.CU-overlay-selected-marker {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  display: inline-block;
  opacity: 0.7;
}

.CU-overlay-selected  {
  @include box-shadow(0px 0px 7px 0px $border-color-grey !important);
  border: none !important;

  &:before {
    @extend .CU-overlay-selected-marker;
    right: 0;
    border-top: 6px solid $border-color-grey;
    border-left: 6px solid transparent;
  }

  &:after {
    @extend .CU-overlay-selected-marker;
    bottom: 0;
    left: 0;
    border-bottom: 6px solid $border-color-grey;
    border-right: 6px solid transparent;
  }
}

.CU-overlay-hovered  {
  border: 1px solid $cu-hovered-border-color;
}

/* ****** 'Select Link' module styles ***** */

.UnitsProj-matchingLink {
  outline: 1px solid #dbcb7a !important;
  background-color: #fff89f !important;
  color: #433210 !important;
}

/* Make sure to re-set the height and width of this div whenever any of the following is changed: 1) the dimensions or
margin of the #UnitsProj-selectLink-textBox or .UnitsProj-close-button is changed 2) padding property of this div (since we set its
box-sizing to border-box)*/

$selectLink-base-gray: #eee;
$selectLinkTextBox_height: 20px;
$selectLink-mainTextBox_width: 180px;

div#UnitsProj-selectLink-UIContainer {
  //width: 181px !important; height: 30px !important; /*the height and width needs to be set based on padding of this container AND height, width, margin properties of search input box and close icon span. */
  //box-sizing: border-box !important; /*using border-box to make calculations easier.*/

  //text-align: left !important; /*this is important to be set to ensure that the input box and span align as required.*/

  position: fixed !important;
  bottom: 0px;
  right: 200px !important;
  margin: 0px !important;
  z-index: $highest-z-index !important;
  background-color: #d8d8d8 !important;
  @include border-radius(6px 6px 0 0 !important);
  padding: 5px !important;

  #UnitsProj-selectLink-textBoxContainer {
    display: inline-block;
    position: relative; /*to make it a positioned element*/
  }

  input#UnitsProj-selectLink-textBox_main {
    width: $selectLink-mainTextBox_width !important;
    @include border-radius(4px 0 0 4px !important);

    &:hover, &:focus {
      z-index: $highest-z-index !important;
    }
  }

  input#UnitsProj-selectLink-textBox_hint {
    width: $selectLink-mainTextBox_width/3 !important;
    margin-left: -1 !important; /* in order to make its left border overlap with the right border of the textbox to its left*/

    &:hover, &:focus {
      z-index: $highest-z-index !important;
    }
  }
  input.UnitsProj-selectLink-textBox {
    /*the following properties are also set for .UnitsProj-reset-text-input. we can override them here if need be*/
    //margin: 2px !important;
    //margin-right: 0px !important;
    //padding: 2px !important;
    //padding-right: 35px !important; /* to prevent typing on top of the count label text */

    position: relative !important;
    border: 1px solid darken($selectLink-base-gray, 20) !important;
    height: $selectLinkTextBox_height !important;
    box-sizing: border-box !important;
    z-index: $highest-z-index - 1 !important;

    &.UnitsProj-selectLink-noMatch {
      background-color: pink !important;
    }

    &:focus {
      border: 1px solid $focused-element-or-CU-color !important;
      outline: none !important;
    }

    &::-webkit-input-placeholder {
      font: normal normal normal 11px/14px $sans-serif-font-family !important;
    }
  }

  span.countLabel {
    position: absolute !important;
    top: 4px !important;
    right: 3px !important;
    font: normal normal normal 11px/14px $sans-serif-font-family !important;
    color: gray !important;
  }

  #UnitsProj-selectLink-helpButton {
    font: normal normal normal 11px/14px $sans-serif-font-family !important;
    color: #666 !important;
    display: inline-block !important;
    box-sizing: border-box !important;
    border: 1px solid darken($selectLink-base-gray, 20) !important;
    height: $selectLinkTextBox_height !important;
    background-color: $selectLink-base-gray !important;
    padding: 0px 8px !important;
    padding-top: 2px !important;
    vertical-align: top !important;
    @include border-radius(0 4px 4px 0 !important);
    cursor: default !important;
    margin-left: -1 !important; /* in order to make its left border overlap with the right border of the textbox to its left*/
    z-index: $highest-z-index - 1 !important;
    outline: none !important;

    &:hover {
      font-weight: bold !important;
      position: relative !important; /* to apply z-index */
      border: 1px solid darken($selectLink-base-gray, 40) !important;
      z-index: $highest-z-index !important;
    }

    &:active {
      background-color: darken($selectLink-base-gray, 10) !important;
    }
  }

  .UnitsProj-close-button {
    @include close-button;
    margin-left: 4px !important;
  }

  .UnitsProj-selectLink-helpUI {
    //position: fixed !important;
    //bottom: 25px !important;
    width: 215px !important;
    background-color: $background-color-gray !important;
    padding: 4px !important;
  }
}

/* class for all hint labels */
.UnitsProj-hintLabel {
  display: none;
  z-index: $highest-z-index - 1 !important;
  opacity: 0.7 !important;
  position: absolute !important;
  font: normal normal normal 9px/9px $sans-serif-font-family !important;
  color: #d7f0d7 !important;
  background-color: #052805 !important;
  padding: 1px 2px !important;
  letter-spacing: 1px !important;

  //
  ///* class for all assigned hints. The class is used via JS, and (currently) has no specific styling rules. */
  //&.UnitsProj-hintLabel-assigned {
  //  display: inline !important;
  //}
  //
  ///* class for hints that are invisible (while being assigned) */
  //&.UnitsProj-hintLabel-invisible {
  //  visibility: hidden !important;
  //}
}

/************* Focused element styles *************/

.UnitsProj-focused-element {
  outline-color: $focused-element-or-CU-color !important;
  outline-style: solid !important;
  outline-width: 1px !important;
}

/* For all a's that contains an image, video or embed, set an offset for the outline so that the outline is clearly visible.*/
.UnitsProj-focused-image {
  outline-offset: 3px !important;
  outline-width: 3px !important;
}

/* Set background for all a's and buttons */
.UnitsProj-focused-link-or-button {
  //background-color: #e6fff1 !important;
  background-color: #e6fff1 !important;
  color: #333 !important;
}

.UnitsProj-focused-element-inline-block {
  display: inline-block !important;
}

/* ****** Filter module styles ***** */

.UnitsProj-highlight { background-color: $filter-highlight-color;}

.UnitsProj-HiddenByFiltering {display: none !important;}

/* This class can be used for (re)setting properties of any text input element that we insert into webpages using content script,
and want to give a consistent look across webpages. That is, applying this class will override most/all styles associated with
the text input element that might be specified by the webpage */

input.UnitsProj-reset-text-input {

  /*********
  dimensions and float property of the input element
  *********/

  box-sizing: border-box !important; /*using box-sizing for easier calculations. make sure to specify this because
    it varies across sites, and changes the effective dimensions of the textbox*/
  margin: 0 !important;
  padding: 2px !important;
  width: 150px !important;
  min-width: 0px !important;
  height: 20px !important;
  min-height: 20px !important;
  float: none !important;

  /********
  border, outline and drop shadow
  ********/

  border: 1px solid $border-color-grey !important;
  @include border-radius(2px !important);
  @include box-shadow(none !important);
  outline: none !important;

  /**********
  text properties
  ***********/
  font: normal normal normal 13px/15px $sans-serif-font-family !important;
  color: $text-color !important;
  vertical-align: baseline !important;
  word-spacing: 0px !important;

  /*not sure if this is really required.*/
  /*-webkit-appearance: textfield !important;*/
  /*appearance: textfield !important;*/
}

input.UnitsProj-reset-text-input:focus {
  /*show an outline around the element that is same as chrome's default. this needs to be set as it is turned off on
  some sites. */
  outline: 5px auto -webkit-focus-ring-color !important;
}

/* Make sure to re-set the height and width of this div whenever any of the following is changed: 1) the dimensions or
margin of the #UnitsProj-filterUI-searchBox or .UnitsProj-close-button is changed 2) padding property of this div (since we set its
box-sizing to border-box)*/

div#UnitsProj-filterUI-container {
  width: 181px !important; height: 45px !important; /*the height and width needs to be set based on padding of this container AND height, width, margin properties of search input box and close icon span. */
  box-sizing: border-box !important; /*using border-box to make calculations easier.*/

  text-align: left !important; /*this is important to be set to ensure that the input box and span align as required.*/

  position: fixed !important;
  /*top: 0px;*/ /*this is set via javascript*/
  top: 0px;
  left: 0px !important;
  margin: 0px !important;
  z-index: 100000 !important;
  background-color: #d8d8d8 !important;
  @include border-radius(0 0 6px 6px !important);

  /*for the sliding effect*/
  @include transition-important(top, 0.1s, ease-out, !important);
  z-index: $highest-z-index - 1 !important; /* More than the z-index of zen mode backdrop, and less than help backdrop */

  .UnitsProj-close-button {
    @include close-button;
    position: absolute !important;
    top: 8px !important; right: 6px !important;
  }
}

input#UnitsProj-filterUI-searchBox {
  position: absolute; top: 6px; left: 6px;

  /*the following properties are also set for .UnitsProj-reset-text-input. we can override them here if need be*/

  box-sizing: border-box !important; /*using box-sizing for easier calculations. make sure to specify this because
    it varies across sites, and changes the effective dimensions of the textbox*/
  margin: 0 !important;
  padding: 2px !important;
  width: 150px !important;
  height: 20px !important;
}

span#filter-message {
  font-size: 11px !important;
  color: $message-color-grey !important;
  position: absolute !important;
  left: 6px !important;
  bottom: 4px !important;
  line-height: 11px !important;
  font-family: $sans-serif-font-family !important;
  text-align: center !important;
  font-weight: normal !important;
}


/* ****** Help styles ***** */
#UnitsProj-help-container {
  visibility: hidden !important;
}

#UnitsProj-iframe-help {
  box-sizing: content-box !important;
  width: 1100px !important;
  position: fixed !important;
  left: 50%; margin-left: -550px; /*center the div horizontally*/
  z-index: $highest-z-index !important; /*highest z-index for a 32-bit int value*/
  border: 2px solid #999;
  border-radius: 4px !important;
  //visibility: hidden !important;
}

/*
Important to set the visibility property as important for both the container and iframe. Also, important to make this
style more specific by using id's of the elements. Fix for #9.
*/
.UnitsProj-visible#UnitsProj-help-container, .UnitsProj-visible#UnitsProj-iframe-help {
  visibility: visible !important;
}

.UnitsProj-hidden#UnitsProj-help-container, .UnitsProj-hidden#UnitsProj-iframe-help {
  visibility: hidden !important;
}

.UnitsProj-modal-backdrop {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
}

#UnitsProj-help-backdrop {
  background-color: #000000 !important;
  opacity: 0.5 !important;
  z-index: $highest-z-index - 1 !important; /* 1 less than the z-index of iframe help window */
}

/*********** Zen mode *************/

.UnitsProj-zen-mode-hidden {
  visibility: hidden !important;
}

.UnitsProj-zen-mode-visible {
  visibility: visible !important;
}

