/*
This file contains styles that are applied on components that are inserted into webpages using content script.
Also, hence the generous use of !important property here.
*/

@import "base";

/*
defining this because compass transition mixin does not accept the !important property
*/
@mixin transition-important($transition-property, $transition-time, $method, $important) {
  -webkit-transition: $transition-property $transition-time $method $important;
  -moz-transition: $transition-property $transition-time $method $important;
  -ms-transition: $transition-property $transition-time $method $important;
  -o-transition: $transition-property $transition-time $method $important;
  transition: $transition-property $transition-time $method $important;
}

.CU-scrolling-marker {
  position: absolute;
  pointer-events: none;
  background-color: $scrolling-marker-color;
  width: 5px;
  opacity:  0.6;
  @include transition(display 0.2s linear);
  @include border-radius(2px);
  @include border-top-right-radius(15px);
  @include border-bottom-right-radius(15px);
}

.CU-overlay {
  position: absolute;
  pointer-events: none; /*NOTE: pointer-events is not a CSS standard yet, but is supported  by webkit browsers and firefox*/
}

.CU-overlay-selected  {
  @include box-shadow(0px 0px 7px 0px $border-color-grey !important);
  border: none !important;
}

.CU-overlay-hovered  {
  border: 1px solid $cu-hovered;
}

/**:focus, a {*/
/*show an outline around the element that is same as chrome's default. this needs to be set as it is turned off on*/
/*some sites. */
/*outline: 15px auto -webkit-focus-ring-color !important;*/
/*outline: thin auto black !important;*/
/*outline-style:solid !important;*/
/*outline-width:3px !important;*/
/*outline-color: -webkit-focus-ring-color !important;*/
/*}*/



/* ****** Filter module styles ***** */

.UnitsProj-highlight { background-color: $filter-highlight-color;}

.UnitsProj-HiddenByFiltering {display: none !important;}

/* This class can be used for (re)setting properties of any text input element that we insert into webpages using content script,
and want to give a consistent look across webpages. That is, applying this class will override most/all styles associated with
the text input element that might be specified by the webpage */

input.UnitsProj-reset-text-input {

  /********
  dimensions and float property of the input element
  *********/

  box-sizing: border-box !important; /*using box-sizing for easier calculations. make sure to specify this because
    it varies across sites, and changes the effective dimensions of the textbox*/
  margin: 0 !important;
  padding: 2px !important;
  width: 150px !important;
  min-width: 150px !important;
  height: 20px !important;
  min-height: 20px !important;
  float: none !important;

  /********
  border, outline and drop shadow
  ********/

  border: 1px solid $border-color-grey !important;
  @include border-radius(2px !important);
  @include box-shadow(none !important);
  outline: none !important;

  /**********
  text properties
  ***********/
  font-family: $sans-serif-font-family !important;
  font-size: 13px !important;
  color: $text-color !important;
  vertical-align: baseline !important;
  word-spacing: 0px !important;

  /*not sure if this is really required.*/
  /*-webkit-appearance: textfield !important;*/
  /*appearance: textfield !important;*/
}

input.UnitsProj-reset-text-input:focus {
  /*show an outline around the element that is same as chrome's default. this needs to be set as it is turned off on
  some sites. */
  outline: 5px auto -webkit-focus-ring-color !important;
}

/* Make sure to re-set the height and width of this div whenever any of the following is changed: 1) the dimensions or
margin of the #UnitsProj-search-box or #UnitsProj-search-close-icon is changed 2) padding property of this div (since we set its
box-sizing to border-box)*/

div#UnitsProj-search-container {
  width: 181px !important; height: 45px !important; /*the height and width needs to be set based on padding of this container AND height, width, margin properties of search input box and close icon span. */
  box-sizing: border-box !important; /*using border-box to make calculations easier.*/

  text-align: left !important; /*this is important to be set to ensure that the input box and span align as required.*/

  position: fixed !important;
  /*top: 0px;*/ /*this is set via javascript*/
  top: 0px;
  left: 0px !important;
  margin: 0px !important;
  z-index: 100000 !important;
  background-color: #d8d8d8 !important;
  @include border-radius(0 0 6px 6px !important);

  /*for the sliding effect*/
  @include transition-important(top, 0.1s, ease-out, !important);
  z-index: $highest-z-index - 1 !important; /* More than the z-index of zen mode backdrop, and less than help backdrop */
}

input#UnitsProj-search-box {
  position: absolute; top: 6px; left: 6px;

  /*the following properties are also set for .UnitsProj-reset-text-input. we can override them here if need be*/

  box-sizing: border-box !important; /*using box-sizing for easier calculations. make sure to specify this because
    it varies across sites, and changes the effective dimensions of the textbox*/
  margin: 0 !important;
  padding: 2px !important;
  width: 150px !important;
  height: 20px !important;
}

span#UnitsProj-search-close-icon {
  position: absolute !important; top: 8px !important; right: 6px !important;
  border: 1px solid transparent !important;

  height: 13px !important; line-height: 13px !important; /*IMPORTANT: that line-height and height have the same value
    to vertically center the text in the span. */
  width: 13px !important;

  box-sizing: content-box !important; /* works better, because then we don't need to calculate the content height
    separately. the value of line-height needs to be the same as the content height.*/

  text-align: center !important;
  font-size: 15px !important;
  font-family: arial, sans-serif !important; /*the arial font seems to be work well for the multiplication symbol.
    change it if you find a better one.*/
  color: #666 !important;

  background-color:/* inherit*/ #bbb !important;

  /*border-radius 50% to make it a circle*/
  @include border-radius(50% !important);

  cursor: default !important; /* To not show the text selection icon */
  @include transition-important(all, 0.1s, ease-out, !important);
}

span#UnitsProj-search-close-icon:hover {
  background-color: #e38e83 !important;
  border: solid 1px #d1847b !important;
  color: #eee !important;
}

span#filter-message {
  font-size: 11px !important;
  color: $message-color-grey !important;
  position: absolute !important;
  left: 6px !important;
  bottom: 4px !important;
  line-height: 11px !important;
  font-family: $sans-serif-font-family !important;
  text-align: center !important;
  font-weight: normal !important;
}


/* ****** Help styles ***** */
#UnitsProj-help-container {
  visibility: hidden !important;
}

#UnitsProj-iframe-help {
  width: 800px !important;
  position: fixed !important;
  left: 50%; margin-left: -400px; /*center the div horizontally*/
  z-index: $highest-z-index !important; /*highest z-index for a 32-bit int value*/
  border: 2px solid #999;
  border-radius: 4px !important;
  //visibility: hidden !important;
}

/*
Important to set the visibility property as important for both the container and iframe. Also, important to make this
style more specific by using id's of the elements. Fix for #9.
*/
.UnitsProj-visible#UnitsProj-help-container, .UnitsProj-visible#UnitsProj-iframe-help {
  visibility: visible !important;
}

.UnitsProj-hidden#UnitsProj-help-container, .UnitsProj-hidden#UnitsProj-iframe-help {
  visibility: hidden !important;
}

.UnitsProj-modal-backdrop {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
}

#UnitsProj-help-backdrop {
  background-color: #000000 !important;
  opacity: 0.5 !important;
  z-index: $highest-z-index - 1 !important; /* 1 less than the z-index of iframe help window */
}

/*********** Zen mode *************/

.UnitsProj-zen-mode-hidden {
  visibility: hidden !important;
}

.UnitsProj-zen-mode-visible {
  visibility: visible !important;
}

/************* Focused element styles *************/

.UnitsProj-focused-element:focus {
  outline: 2px auto #068065 !important;
}

/* For all a's that contains an image, video or embed, set an offset for the outline so that the outline is clearly visible.*/
.UnitsProj-focused-embed:focus {
  outline-offset: 2px !important;
  outline: 4px auto #068065 !important;
}

/* Set background for all a's and buttons */
.UnitsProj-focused-link-or-button:focus {
  background-color: #caffd6 !important;
  color: $text-color !important;
}
