/*
This file contains styles that are applied on components that are inserted into webpages using content script.
Also, hence the generous use of !important property here.
*/

@import "base";

.CU-overlay {
  position: absolute !important;
  pointer-events: none !important;
}

.CU-overlay-selected-marker {
  content: "";
  width: 6px;
  height: 4px;
  position: absolute;
  display: inline-block;
  opacity: 0.7;
  background-color: $border-color-grey;;
}

.CU-overlay-selected  {
  @include box-shadow(0px 0px 7px 0px $border-color-grey !important);
  border: none !important;
  //background-color: rgba(100, 100, 100, 0.03) !important;
  transition: background-color 1s;

  &:before {
    @extend .CU-overlay-selected-marker;
    top: 0;
    right: 0;
  }

  &:after {
    @extend .CU-overlay-selected-marker;
    bottom: 0;
    left: 0;
  }
}

.highlighted-CU-overlay {
  background-color: rgba(200, 250, 50, 0.2) !important;
  transition: background-color 0s !important;
}

.CU-overlay-hovered  {
  border: 1px solid $cu-hovered-border-color;
}

.non-CU-page-overlay {
  position: absolute !important;
  pointer-events: none !important;
  transition: opacity 0.1s;
  background-color: #000;
  //opacity: 0.05; // this is done programmatically
}

/* ****** 'Select Link' module styles ***** */

/* class for all hint labels */
.UnitsProj-hintLabel {
  display: none;
  z-index: $highest-z-index - 1 !important;
  opacity: 0.8 !important;
  position: fixed !important;
  font: normal normal normal 10px/10px Verdana $sans-serif-font-family !important;
  color: #d7f0d7 !important;
  background-color: #052805 !important;
  padding: 1px 2px !important;
  letter-spacing: 1px !important;

  /* class for visible hint labels */
  &.UnitsProj-hintLabel-visible {
    display: inline !important;
  }

}

/* To create an invisible text box which cannot be interacted with in any way
but which can still be given focus and text input programmatically*/
input.UnitsProj-dummyInput {
  opacity: 0 !important;
  width: 0 !important;
  overflow: hidden !important;

  /* Use position fixed with (0, 0) to prevent page from scrolling when this textbox gets focus,
  irrespective of the page's current scroll position*/
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;

  pointer-events: none !important;
}

/************* Focused element styles *************/

/*
We use outline-style: auto (and solid) so that outlines are drawn properly around anchors that contain block elements.
See SO issue for this: http://stackoverflow.com/questions/17146707/outline-is-drawn-incorrectly-on-chrome-if-outline-style-is-set-to-solid-and-n/17148490
Though we'll have to live with the issue #33 for image links (till Chrome fixes it).
*/
.UnitsProj-focused-image {
  outline-color: darken($focused-element-or-CU-color, 10) !important;
  outline-style: auto !important;
  outline-width: 1px;
}

/*
 For all a's that contains a large image: 1) Have a thick outline 2) Have an outline-offset so that the outline is
 clearly visible
*/

.UnitsProj-focused-large-image {
  outline-offset: 3px !important;
  outline-width: 3px !important;
}

/*
For textual and button links, 1) set the background-color. This is because on some sites, the links are laid out in the DOM
such that the outline is not visible. We apply the background-color to make sure that the link is still clearly visible.
2) Set the outline-style: solid (cannot be 'auto'. See issue: https://github.com/MakeBetter/Units/issues/33)
*/

.UnitsProj-focused-link-or-button {
  outline-color: $focused-element-or-CU-color !important;
  outline-width: 1px !important;
  outline-style: solid !important;
  background-color: #dbf3db !important;
  color: #333 !important;
}

/* ****** Filter module styles ***** */

.UnitsProj-highlight { background-color: $filter-highlight-color;}

.UnitsProj-HiddenByFiltering {display: none !important;}

/* This class can be used for (re)setting properties of any text input element that we insert into webpages using content script,
and want to give a consistent look across webpages. That is, applying this class will override most/all styles associated with
the text input element that might be specified by the webpage */

input.UnitsProj-reset-text-input {

  /*********
  dimensions and float property of the input element
  *********/

  box-sizing: border-box !important; /*using box-sizing for easier calculations. make sure to specify this because
    it varies across sites, and changes the effective dimensions of the textbox*/
  margin: 0 !important;
  padding: 2px !important;
  width: 150px !important;
  min-width: 0px !important;
  height: 20px !important;
  min-height: 20px !important;
  float: none !important;

  /********
  border, outline and drop shadow
  ********/

  border: 1px solid $border-color-grey !important;
  @include border-radius(2px !important);
  @include box-shadow(none !important);
  outline: none !important;

  /**********
  text properties
  ***********/
  font: normal normal normal 13px/15px $sans-serif-font-family !important;
  color: $text-color !important;
  vertical-align: baseline !important;
  word-spacing: 0px !important;

  /*not sure if this is really required.*/
  /*-webkit-appearance: textfield !important;*/
  /*appearance: textfield !important;*/
}

input.UnitsProj-reset-text-input:focus {
  /*show an outline around the element that is same as chrome's default. this needs to be set as it is turned off on
  some sites. */
  outline: 5px auto -webkit-focus-ring-color !important;
}

/* Make sure to re-set the height and width of this div whenever any of the following is changed: 1) the dimensions or
margin of the #UnitsProj-filterUI-searchBox or .UnitsProj-close-button is changed 2) padding property of this div (since we set its
box-sizing to border-box)*/

div#UnitsProj-filterUI-container {
  width: 181px !important; height: 45px !important; /*the height and width needs to be set based on padding of this container AND height, width, margin properties of search input box and close icon span. */
  box-sizing: border-box !important; /*using border-box to make calculations easier.*/

  text-align: left !important; /*this is important to be set to ensure that the input box and span align as required.*/

  position: fixed !important;
  /*top: 0px;*/ /*this is set via javascript*/
  top: 0px;
  left: 0px !important;
  margin: 0px !important;
  z-index: 100000 !important;
  background-color: #d8d8d8 !important;
  @include border-radius(0 0 6px 6px !important);

  /*for the sliding effect*/
  @include transition-important(top, 0.1s, ease-out, !important);
  z-index: $highest-z-index !important; /* More than the z-index of zen mode backdrop, and less than help backdrop */

  .UnitsProj-close-button {
    @include close-button;
    position: absolute !important;
    top: 8px !important; right: 6px !important;
  }
}

input#UnitsProj-filterUI-searchBox {
  position: absolute; top: 6px; left: 6px;

  /*the following properties are also set for .UnitsProj-reset-text-input. we can override them here if need be*/

  box-sizing: border-box !important; /*using box-sizing for easier calculations. make sure to specify this because
    it varies across sites, and changes the effective dimensions of the textbox*/
  margin: 0 !important;
  padding: 2px !important;
  width: 150px !important;
  height: 20px !important;
}

span#filter-message {
  font-size: 11px !important;
  color: $message-color-grey !important;
  position: absolute !important;
  left: 6px !important;
  bottom: 4px !important;
  line-height: 11px !important;
  font-family: $sans-serif-font-family !important;
  text-align: center !important;
  font-weight: normal !important;
}


/* ****** Help styles ***** */
#UnitsProj-help-container {
  visibility: hidden !important;
}

#UnitsProj-iframe-help {
  box-sizing: content-box !important;
  width: 1120px !important;
  position: fixed !important;
  left: 50%; margin-left: -550px; /*center the div horizontally*/
  z-index: $highest-z-index !important; /*highest z-index for a 32-bit int value*/
  border: 2px solid #999;
  border-radius: 4px !important;
  //visibility: hidden !important;
}

/*
Important to set the visibility property as important for both the container and iframe. Also, important to make this
style more specific by using id's of the elements. Fix for #9.
*/
.UnitsProj-visible#UnitsProj-help-container, .UnitsProj-visible#UnitsProj-iframe-help {
  visibility: visible !important;
}

.UnitsProj-hidden#UnitsProj-help-container, .UnitsProj-hidden#UnitsProj-iframe-help {
  visibility: hidden !important;
}

.UnitsProj-modal-backdrop {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
}

#UnitsProj-help-backdrop {
  background-color: #000000 !important;
  opacity: 0.5 !important;
  z-index: $highest-z-index - 1 !important; /* 1 less than the z-index of iframe help window */
}

/*********** Zen mode *************/

.UnitsProj-zen-mode-active {
  .UnitsProj-zen-mode-hidden {
    display: none !important;
    opacity: 0 !important; /* Important to apply opacity: 0 as a backup for elements on which display:none does not work.*/
  }
}

.UnitsProj-zen-mode-excluded {
  display: none !important;
  opacity: 0 !important;
}


#UnitsProj-zen-mode-indicator {
  position: fixed !important;
  bottom: 30px !important;
  right: 20px !important;
  padding: 7px 10px !important;
  border-radius: 2px !important;
  background-color: darken(#fcfcfc,1) !important;
  border: 1px solid #ddd !important;
  cursor: pointer !important;
  font-weight: bold !important;
  color: darken(#a9a9a9,12) !important;
  font-size: 12px !important;   line-height: 12px !important;
  font-family: $sans-serif-font-family;
  opacity: 0.7;
}

.UnitsProj-zen-mode-active #UnitsProj-zen-mode-indicator {
  background-color: lighten(#e6fad8,2) !important;
}
