/*
Colors
*/
/* line 21, sass/_base.scss */
a {
  color: #1277dd;
}

/* line 25, sass/_base.scss */
.UnitsProj-message {
  color: #888888;
}

/*
Fonts
*/
/*
Miscellaneous
*/
/* line 39, sass/_base.scss */
.UnitsProj-float-fixer {
  clear: both !important;
}

/*
This file contains styles for a modal window.
*/
/*
Not in use at the moment. Since our modal needs an iframe, these properties need to be split between the iframe tag and
its contents.

.UnitsProj-modal {
  background-color: white !important;
  width: 800px !important;
  overflow: auto !important;
  position: fixed !important;
  left: 50%; margin-left: -400px;
  center the div horizontally
  z-index: 10000 !important;
  border: 2px solid #999;
  border-radius: 4px !important;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  color: black !important;
}
*/
/* line 25, sass/_modal.scss */
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background: none;
  box-sizing: border-box;
  position: relative;
}

/* line 33, sass/_modal.scss */
.modal-header > .close {
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: 20px;
  font-family: Arial;
  font-weight: bold;
  line-height: 20px;
  height: 20px;
  width: 20px;
  color: #aaa;
  text-shadow: 0 1px 0 #ffffff;
  border: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
/* line 54, sass/_modal.scss */
.modal-header > .close:hover {
  color: #888;
}

/* line 59, sass/_modal.scss */
.modal-title {
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  margin: 0;
  display: block;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 69, sass/_modal.scss */
.modal-body {
  position: relative;
  padding: 10px 20px 20px 20px;
}

/* line 4, sass/helpUI.scss */
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 10, sass/helpUI.scss */
#help {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}

/* line 17, sass/helpUI.scss */
#help .section {
  width: 50%;
  float: left;
}

/* line 23, sass/helpUI.scss */
table {
  text-align: left;
  border-spacing: 0;
}

/* line 28, sass/helpUI.scss */
table tr {
  height: 25px;
}

/* line 33, sass/helpUI.scss */
td, th {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: black;
  border: none;
  background-color: inherit;
  background: inherit;
}

/* line 42, sass/helpUI.scss */
.key {
  padding-right: 10px;
  text-align: right;
  line-height: 25px;
}

/* line 48, sass/helpUI.scss */
.action {
  vertical-align: top;
  padding: 3px 5px 3px 5px;
  /*padding top and bottom is 3px to be consistent with td.key>span.key*/
}

/* line 53, sass/helpUI.scss */
.key > .key-text {
  background-color: #efefef;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 3px;
  /* Note: If you change this, then change td.action padding as well. They should be consistent. */
  margin: 0 2px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* line 62, sass/helpUI.scss */
td.key > span.separator, tr.subsection-title > td {
  text-align: center;
}

/* line 66, sass/helpUI.scss */
td.key > span.separator {
  font-size: 11px;
}

/* line 70, sass/helpUI.scss */
.page-specific {
  background-color: #FFFFEA;
}

/* line 74, sass/helpUI.scss */
#footer-message {
  text-align: left;
  background-color: inherit;
  border: none;
  font-size: 12px;
  margin: 0;
}

/* line 82, sass/helpUI.scss */
tr.subsection-end > td {
  padding-bottom: 20px;
}

/* line 86, sass/helpUI.scss */
th.section-title {
  font-size: 12px;
  color: #333333;
  font-weight: bold;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
