/*
Colors
*/
/* line 21, sass/_base.scss */
a {
  color: #1277dd;
}

/* line 25, sass/_base.scss */
.UnitsProj-message {
  color: #888888;
}

/*
Fonts
*/
/*
Miscellaneous
*/
/* line 39, sass/_base.scss */
.UnitsProj-float-fixer {
  clear: both !important;
}

/* line 3, sass/options_page.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* line 8, sass/options_page.scss */
h1 {
  font-weight: normal;
  text-align: center;
}

/* line 13, sass/options_page.scss */
textarea {
  padding: 0;
  margin-top: 10px;
}

/* Adapted from twitter bootstrap button style */
/* line 20, sass/options_page.scss */
button {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 17px;
  color: #333333;
  text-align: center;
  /*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);*/
  vertical-align: middle;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;*/
  background-color: #e6e6e6;
  background-image: linear-gradient(#ffffff, #e6e6e6);
  /*background-position: 0px -15px;*/
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  /*border-bottom-color: #b3b3b3;*/
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 42, sass/options_page.scss */
button:hover {
  background-color: #bbb;
}

/* line 47, sass/options_page.scss */
#settings-container {
  margin: 0 auto;
  position: relative;
  /*display: table;*/
  /*margin-top: 20px;*/
}

/* line 54, sass/options_page.scss */
#settings-header {
  margin: 0 auto 20px auto;
  padding: 0;
  position: fixed;
  top: 0;
  height: 40px;
  width: 100%;
  background-color: lightslategray;
  /*margin: 0;*/
  z-index: 2;
  /*padding: 0 40px;*/
}

/* line 67, sass/options_page.scss */
#settings-header > h2 {
  width: 750px;
  margin: 0 auto;
  padding: 0;
  color: white;
  /*text-align: right;*/
  font-weight: normal;
  vertical-align: middle;
  font-size: 20px;
  line-height: 40px;
}

/* line 79, sass/options_page.scss */
#buttons-panel {
  max-width: 750px;
  margin: 10px auto;
  position: relative;
  top: -45px;
}

/* line 86, sass/options_page.scss */
#user-settings {
  top: 60px;
  position: relative;
  margin: 0 auto;
  width: 750px;
}

/* line 94, sass/options_page.scss */
.options-message {
  color: #888888;
  font-size: 15px;
}

/* line 99, sass/options_page.scss */
#options-main-message {
  margin-bottom: 10px;
  text-align: middle;
}

/* line 104, sass/options_page.scss */
.subheading {
  /*margin-bottom: 5px;*/
  /*font-style: italic;*/
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 14px;
  margin: 0;
  color: #333333;
}

/* line 114, sass/options_page.scss */
.global-settings-message {
  font-size: 12px;
  color: #666;
  background-color: lightgoldenrodyellow;
  border: 1px solid #faf992;
  padding: 3px;
  display: block;
}

/* line 123, sass/options_page.scss */
#user-settings textarea {
  border-color: #efefef;
  margin-bottom: 40px;
  width: 750px;
  /*resize: none;*/
}

/* line 130, sass/options_page.scss */
#save-settings {
  float: right;
}

/* line 134, sass/options_page.scss */
#reset-settings {
  float: right;
}

/* TODO: To be improved. Just something workable for now. */
/* line 139, sass/options_page.scss */
#user-message {
  box-sizing: border-box;
  width: 400px;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -375px;
  z-index: 1501;
  text-align: center;
  padding: 5px 0;
  color: white;
  opacity: 0.98;
  font-size: 12px;
  /*corner-bottom*/
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -ms-border-radius: 0 0 2px 2px;
  -o-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}

/* line 159, sass/options_page.scss */
#user-message > p {
  padding: 0;
  margin: 0;
}

/* line 163, sass/options_page.scss */
#user-message .json-error-message {
  font-style: italic;
}

/* line 167, sass/options_page.scss */
#user-message.error {
  background: #e30202;
  border: 1px solid #e60000;
}

/* line 172, sass/options_page.scss */
#user-message.success {
  background-color: #27805b;
  border: 1px solid #068065;
}
