/*
Colors
*/
/* line 21, sass/_base.scss */
a {
  color: #1277dd;
}

/* line 25, sass/_base.scss */
.UnitsProj-message {
  color: #888888;
}

/*
Fonts
*/
/*
Miscellaneous
*/
/* line 39, sass/_base.scss */
.UnitsProj-float-fixer {
  clear: both !important;
}

/* line 3, sass/popupUI.scss */
body {
  width: 300px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

/* line 9, sass/popupUI.scss */
input[type=text] {
  width: 150px;
}

/* line 12, sass/popupUI.scss */
div.action {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

/* line 16, sass/popupUI.scss */
div.action:nth-child(2n) {
  background-color: #fafafa;
}

/* line 20, sass/popupUI.scss */
p, ol {
  color: #666;
  font-size: 12px;
  margin: 2px;
}

/* line 26, sass/popupUI.scss */
p.strong {
  /*color: black;*/
  font-weight: 600;
}

/* line 31, sass/popupUI.scss */
.advanced {
  font-size: 10.5px;
  display: inline-block;
  color: #666;
}

/* line 37, sass/popupUI.scss */
div#footer {
  padding: 6px 10px;
}

/* line 40, sass/popupUI.scss */
#options {
  font-size: 12;
  float: right;
  /*padding: 4px;*/
}

/* line 46, sass/popupUI.scss */
#enable-steps {
  padding-left: 30px;
}
