/*
This file contains styles that are applied to components that are inserted into webpages using content script.
Also, hence the generous use of !important property here.
*/
/*
Colors
*/
/* line 21, sass/_base.scss */
a {
  color: #1277dd;
}

/* line 25, sass/_base.scss */
.UnitsProj-message {
  color: #888888;
}

/*
Fonts
*/
/*
Miscellaneous
*/
/* line 39, sass/_base.scss */
.UnitsProj-float-fixer {
  clear: both !important;
}

/*
defining this because compass transition mixin does not accept the !important property
*/
/* line 19, sass/units.scss */
.CU-scrolling-marker {
  position: absolute;
  pointer-events: none;
  background-color: #ff902b;
  width: 5px;
  opacity: 0.6;
  -webkit-transition: display 0.2s linear;
  -moz-transition: display 0.2s linear;
  -o-transition: display 0.2s linear;
  transition: display 0.2s linear;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -moz-border-radius-topright: 15px;
  -webkit-border-top-right-radius: 15px;
  border-top-right-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -webkit-border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* line 31, sass/units.scss */
.CU-overlay {
  position: absolute;
  pointer-events: none;
  /*NOTE: pointer-events is not a CSS standard yet, but is supported  by webkit browsers and firefox*/
}

/* line 36, sass/units.scss */
.CU-overlay-selected {
  -webkit-box-shadow: 0px 0px 7px 0px #999999 !important;
  -moz-box-shadow: 0px 0px 7px 0px #999999 !important;
  box-shadow: 0px 0px 7px 0px #999999 !important;
  border: none !important;
}

/* line 41, sass/units.scss */
.CU-overlay-hovered {
  border: 1px solid #dddddd;
}

/**:focus, a {*/
/*show an outline around the element that is same as chrome's default. this needs to be set as it is turned off on*/
/*some sites. */
/*outline: 15px auto -webkit-focus-ring-color !important;*/
/*outline: thin auto black !important;*/
/*outline-style:solid !important;*/
/*outline-width:3px !important;*/
/*outline-color: -webkit-focus-ring-color !important;*/
/*}*/
/* ****** Filter module styles ***** */
/* line 62, sass/units.scss */
.UnitsProj-highlight {
  background-color: yellow;
}

/* This class can be used for (re)setting properties of any text input element that we insert into webpages using content script,
and want to give a consistent look across webpages. That is, applying this class will override most/all styles associated with
the text input element that might be specified by the webpage */
/* line 68, sass/units.scss */
input.UnitsProj-reset-text-input {
  /********
  dimensions and float property of the input element
  *********/
  box-sizing: border-box !important;
                                 /*using box-sizing for easier calculations. make sure to specify this because
it varies across sites, and changes the effective dimensions of the textbox*/
  margin: 0 !important;
  padding: 2px !important;
  width: 150px !important;
  min-width: 150px !important;
  height: 20px !important;
  min-height: 20px !important;
  float: none !important;
  /********
  border, outline and drop shadow
  ********/
  border: 1px solid #999999 !important;
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  -ms-border-radius: 2px !important;
  -o-border-radius: 2px !important;
  border-radius: 2px !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
  /**********
  text properties
  ***********/
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 13px !important;
  color: black !important;
  vertical-align: baseline !important;
  word-spacing: 0px !important;
  /*not sure if this is really required.*/
  /*-webkit-appearance: textfield !important;*/
  /*appearance: textfield !important;*/
}

/* line 107, sass/units.scss */
input.UnitsProj-reset-text-input:focus {
  /*show an outline around the element that is same as chrome's default. this needs to be set as it is turned off on
  some sites. */
  outline: 5px auto -webkit-focus-ring-color !important;
}

/* Make sure to re-set the height and width of this div whenever any of the following is changed: 1) the dimensions or
margin of the #UnitsProj-search-box or #UnitsProj-search-close-icon is changed 2) padding property of this div (since we set its
box-sizing to border-box)*/
/* line 117, sass/units.scss */
div#UnitsProj-search-container {
  width: 181px !important;
  height: 45px !important;
  /*the height and width needs to be set based on padding of this container AND height, width, margin properties of search input box and close icon span. */
  box-sizing: border-box !important;
  /*using border-box to make calculations easier.*/
  text-align: left !important;
  /*this is important to be set to ensure that the input box and span align as required.*/
  position: fixed !important;
  /*top: 0px;*/
  /*this is set via javascript*/
  top: 0px;
  left: 0px !important;
  margin: 0px !important;
  z-index: 100000 !important;
  background-color: #d8d8d8 !important;
  -webkit-border-radius: 0 0 6px 6px !important;
  -moz-border-radius: 0 0 6px 6px !important;
  -ms-border-radius: 0 0 6px 6px !important;
  -o-border-radius: 0 0 6px 6px !important;
  border-radius: 0 0 6px 6px !important;
  /*for the sliding effect*/
  -webkit-transition: top 0.1s ease-out !important;
  -moz-transition: top 0.1s ease-out !important;
  -ms-transition: top 0.1s ease-out !important;
  -o-transition: top 0.1s ease-out !important;
  transition: top 0.1s ease-out !important;
}

/* line 136, sass/units.scss */
input#UnitsProj-search-box {
  position: absolute;
  top: 6px;
  left: 6px;
  /*the following properties are also set for .UnitsProj-reset-text-input. we can override them here if need be*/
  box-sizing: border-box !important;
                                 /*using box-sizing for easier calculations. make sure to specify this because
it varies across sites, and changes the effective dimensions of the textbox*/
  margin: 0 !important;
  padding: 2px !important;
  width: 150px !important;
  height: 20px !important;
}

/* line 149, sass/units.scss */
span#UnitsProj-search-close-icon {
  position: absolute !important;
  top: 8px !important;
  right: 6px !important;
  border: 1px solid transparent !important;
  height: 13px !important;
  line-height: 13px !important;
                                                     /*IMPORTANT: that line-height and height have the same value
to vertically center the text in the span. */
  width: 13px !important;
  box-sizing: content-box !important;
                                  /* works better, because then we don't need to calculate the content height
separately. the value of line-height needs to be the same as the content height.*/
  text-align: center !important;
  font-size: 15px !important;
  font-family: arial, sans-serif !important;
                                         /*the arial font seems to be work well for the multiplication symbol.
change it if you find a better one.*/
  color: #666 !important;
  background-color: #bbb !important;
  /*border-radius 50% to make it a circle*/
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  border-radius: 50% !important;
  cursor: default !important;
  /* To not show the text selection icon */
  -webkit-transition: all 0.1s ease-out !important;
  -moz-transition: all 0.1s ease-out !important;
  -ms-transition: all 0.1s ease-out !important;
  -o-transition: all 0.1s ease-out !important;
  transition: all 0.1s ease-out !important;
}

/* line 175, sass/units.scss */
span#UnitsProj-search-close-icon:hover {
  background-color: #e38e83 !important;
  border: solid 1px #d1847b !important;
  color: #eee !important;
}

/* line 181, sass/units.scss */
span#filter-message {
  font-size: 11px !important;
  color: #888888 !important;
  position: absolute !important;
  left: 6px !important;
  bottom: 4px !important;
  line-height: 11px !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  text-align: center !important;
  font-weight: normal !important;
}

/* ****** Help styles ***** */
/* line 196, sass/units.scss */
#iframe-help {
  width: 800px !important;
  position: fixed !important;
  left: 50%;
  margin-left: -400px;
  /*center the div horizontally*/
  z-index: 2147483647 !important;
  /*highest z-index for a 32-bit int value*/
  border: 2px solid #999999;
  border-radius: 4px !important;
}

/* line 210, sass/units.scss */
.UnitsProj-modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483646 !important;
  /* 1 less than the z-index of iframe help window */
  background-color: #000000;
  opacity: 0.5;
}
